.b-address-status {

    border-bottom: 1px solid #fff;
    z-index: 250;
    padding: 0 30px;
    height: 60px;
    text-align: left;
    font-size: 14px;
    transition: max-height .5s;
    overflow: hidden;
    max-height: 500px;
    background: #82BEF7;
    color: #fff;
    margin-left: 250px;


    &__message {
        padding-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
    }

    &__close-icon {
        color: #fff;
        font-size: 17px;
        float:right;
        margin: -25px -20px 0 0;
        right: 10px;
        cursor: pointer;
    }
    &__text{

    }
}
@media only screen and (max-width: 801px) {
    .b-address-status {
        margin-left: 0;
    }
}
