.date-switcher{
    .date-type-selector{
        text-align: center;
        button, .btn{
            margin: 0 7px;
            .active{
                background-color: $dark-blue;
            }
        }
    }
    &--sub{
        i{
            margin: 0 10px;
            &:hover{
                cursor: pointer;
                color: $dark-blue;
            }
        }
    }
}
