.b-date-filter {
    font-size: 14px;
    float: right;
    margin-top: -15px;
    &__button {
        -webkit-appearance: none;
        background: none;
        color: #aaa;
        border: 1px solid #ccc;
        line-height: 30px;
        display: flex;
        flex-direction: row;
        height: 30px;
        padding: 0 40px;
        align-items: center;
        position: relative;

        &:focus {
            border: 1px solid #000;
        }
    }

    &__calendar-icon {
        position: absolute;
        left: 0;
        top: 0;
        color: #55a6db;
        background: #eee;
        padding: 5px;
        font-size: 18px;
        z-index: 9;
    }
}

.daterangepicker {
    padding: 15px;
    border-radius: 0;
}

.daterangepicker .calendar {
    margin: 4px 4px 0;
}

.daterangepicker .calendar-table {
    padding: 4px 4px 0;
}

.daterangepicker .input-mini {
    margin: 0;
}

.daterangepicker .input-mini, .daterangepicker .input-mini.active {
    border: 1px solid #e6e6e5;
    border-radius: 0;
    box-shadow: none;
}

.daterangepicker .calendar th:hover .fa.glyphicon {
    color: #fff;
}

.daterangepicker td.in-range {
    background-color: #c8eafc;
}

.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #25abf4;
    color: #fff;
}

.daterangepicker td.start-date {
    border-radius: 0;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
    color: #939393;
    font-weight: normal;
    border-radius: 0;
}

.daterangepicker .calendar td.active {
    color: #fff;
}

.daterangepicker {
    margin: 0;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 5px 7px #eaeaea;
    padding: 20px;
    font: 12px/14px 'Flama', Arial, Helvetica, sans-serif;
}

.daterangepicker td {
    transition: all .3s ease;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

.daterangepicker td:hover {
    background: #25abf4;
    color: #fff;
}

.daterangepicker .prev {
    background: url('../../public/img/arrow_left.png') no-repeat 50% 50% !important;
    cursor: pointer;
}

.daterangepicker .next {
    background: url('../../public/img/arrow_right.png') no-repeat 50% 50% !important;
    cursor: pointer;
}

.daterangepicker .month select {
    margin: 0 2px;
}

.daterangepicker .prev .fa,
.daterangepicker .next .fa {
    display: none;
}

.ranges li, .ranges li.active, .btn-success, .btn-group-sm > .btn, .btn-sm, .input-group-btn:last-child > .btn, .btn-info {
    min-width: 64px;
    background: #25abf4;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px 12px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    border-radius: 0;
    font-weight: bold;
    transition: background .3s ease;
    border: none;
}

.daterangepicker .daterangepicker_input i {
    position: absolute;
    left: 8px;
    top: 8px;
    color: #55a6db;
}

.daterangepicker {
    .off.available {
        opacity: 0;
        cursor: default;
    }
}

.ranges li.active, .ranges li:hover {
    border: none;
    background: #23527c;
    color: #fff;
}

.ranges .cancelBtn {
    float: right;
}
