.b-wrapper{
    background-color: #edf5f7;
    height: 100%;

}
.navbar.navbar-default.navbar-static-top{
    background-color: $light-bg;
    margin-bottom: 0px;
    .navbar-brand{
        color: $dark-bg;
        .demo-link{
            color:$white;
            background: $error;
            padding: 10px;
            border:2px solid $white;
        }
        img{
            max-width: 120px;
            max-height: 33px;
            float: left;
            margin-right: 10px;
            margin-top: -5px;
        }
        &.with-adviser{
            img{
                margin-top: -12px;
                max-height: 31px;
            }
            .powered-by{
                font-size: 12px;
                display: block;
            }
        }
    }
    .sidebar ul li{
        background-color: $dark-bg;
        &.sidebar-search{
            background-color: $light-bg;
        }
        a{
            color: $white;
            &.active, &:hover, &:focus{
                color:$blue;
                background-color: $dark-bg;
            }
        }

    }
}
