$progress-height: 40px;
.progress{
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: $light-bg;
    width: 100%;
    height: $progress-height;
    position: relative;
    &-value{
        height: 100%;
        width: 60%;
        position: absolute;
        left:0;
        background-color: $dark-blue;
        &__label{
            height: $progress-height;
            line-height: $progress-height;
            padding-left: 10px;
        }
    }
}
