.widget-menu-items{
    position: absolute;
    right: 10px;
    top: 5px;
    &>a.btn{
        opacity: 0.8;
    }
    a.btn.clicked, a:hover, a:focus{
        opacity: 1;
    }
    ul{
        color: #333;
        list-style: none;
        position: absolute;
        margin-left: 0;
        padding-left: 0;
        width: auto;
        right: 5px;
        top: 30px;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 9;
        li{
            padding: 10px;
            cursor: pointer;
            &:hover{
                background-color: #f7f7f7;
            }
        }
    }
}
