.realtime-chart-container{
    height: 200px;
}

.panel-descr{
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-menu li a i.fa{
    margin-right: 5px;
}


.b-date-filter__button:focus{
    outline: 0 none;
}
.panel-primary > .panel-heading{
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: none;
}


.ReactModal__Overlay{
    z-index: 99999999;
}


.mr-2{
    margin-right: 7px;
}
.ml-2{
    margin-left: 7px;
}
