/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
    #banner ul.actions li{
        width: 170px;
        padding: 5px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #banner ul.actions li{
        width: 170px;
        padding: 5px;
    }
    .navbar-top-links li{
        width: 100%;
        text-align: right;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    #banner ul.actions li{
        width: 200px;
    }
    #banner .dark-font{
        margin-bottom: 0;
    }
    #banner h2{
        margin-top:0px;
    }
    #banner .orlogin {
        padding: 10px;
    }
    #banner .more{
        height: 50px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
{

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #banner ul.actions li{
        width: 170px;
        padding: 5px;
    }
    .navbar-top-links li{
        width: 100%;
        text-align: right;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    #banner ul.actions li{
        width: 200px;
    }
    #banner .dark-font{
        margin-bottom: 0;
    }
    #banner h2{
        margin-top:0px;
    }
    #banner .orlogin {
        padding: 10px;
    }
    #banner .more{
        height: 50px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    #banner .dark-font{
        margin-bottom: 0;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    #banner ul.actions li{
        width: 170px;
        padding: 5px;
    }
    .navbar-top-links li{
        width: 100%;
        text-align: right;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    #banner .more{
        height: 50px;
    }
    #banner ul.actions li{
        width: 200px;
    }
    #banner .dark-font{
        margin-bottom: 0;
    }
    #banner h2{
        margin-top:0px;
    }
    #banner .orlogin {
        padding: 10px;
    }
}



//iPhone X
//iPhone 8
@media only screen
and (device-width : 375px)
{
    .navbar-top-links li{
        width: 100%;
        text-align: right;
    }

    .notifications{
        padding: 0 10px;
        .notifications .form-check .form-check-label{
            width: 250px;
            left: 15px;
        }
        .notifications-btn-bar--label{
            top: -17px;
            left: 26px;
        }
    }

}

//iPhone 8 Plus
@media only screen
and (device-width : 414px) {
    .navbar-top-links li{
        width: 100%;
        text-align: right;
    }
}
