@media only screen
and (max-device-width: 801px) {
    #banner {
        display: inherit!important;
    }
    .navbar-toggle {
        display: block!important;
    }

    .navbar-header {
        float: float!important;
    }
    .navbar-toggle{
        float: left;
        margin-left: 20px;
    }
    .orlogin{
        display: none;
    }

}
@media only screen
and (max-device-width: 480px) {
    #banner ul.actions li {
        width: 245px!important;
        .btn-primary {
            width: 220px;
        }
    }
    .navbar-toggle {
        display: block!important;
    }
    .orlogin{
        display: none;
    }
}
