@mixin theme($name, $dark-bg, $light-bg, $blue, $dark-blue, $white, $error) {
    .#{$name} {
        &.b-wrapper{
            background-color: $light-bg;
        }
        .page-header{
            color:$dark-bg;
        }
        a{
            color: $blue;
            cursor: pointer;
            &.btn{
                color: $white;
            }
        }

        .btn-primary {
            color: #fff;
            background-color: $blue;
            border-color: $dark-bg;
            &:hover, &:active{
                background-color: $dark-blue;
                outline: none;
            }
        }
        .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
        .btn-primary:active:hover, .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus, .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus{
            background-color: $dark-blue;
            outline: none;

        }
        .panel-primary > .panel-heading{
            background-color: $blue;
            border-color: $dark-bg;
        }
        .btn-success:hover{
            background-color: $dark-bg;
        }

        .panel-primary{
            border-color: $dark-blue;
        }

        .error{
            color: $error;
        }
        .banner-background-image {
             background-image: url(../../public/img/banner_pic.png);
         }
        #banner {

            & > * {
                color: #fff !important;
                background: rgba(78, 154, 21, .3);
            }
            .dark-font {
                color: $dark-bg;
            }
            .more{
                color: $dark-bg;
            }
            .more a {
                color: $dark-bg;
            }
        }
        .dashboard__widget .panel-footer,
        .panel-primary>.panel-heading{
            background-color: $blue;
            color: $white;
        }

        .panel-primary>.panel-heading.panel-heading--light {
            background-color: $light-bg;
            color: $dark-blue;
        }
        .navbar.navbar-default.navbar-static-top .sidebar ul li a.active, .navbar.navbar-default.navbar-static-top .sidebar ul li a:focus, .navbar.navbar-default.navbar-static-top .sidebar ul li a:hover {
            color: $blue;
            background-color:$dark-bg;
        }
        .progress-value{
            background-color: $dark-blue;
        }
        .ranges li.active, .ranges li:hover {
            background: $dark-bg;
            color: #fff;
        }
        .btn-group-sm>.btn,
        .btn-info,
        .btn-sm,
        .btn-success,
        .input-group-btn:last-child>.btn,
        .ranges li,
        .ranges li.active{
            background: $blue;
        }
        .daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.available:hover, .daterangepicker th.available:hover {
            background-color: $blue;
        }
        .b-date-filter__calendar-icon{
            color: $blue;
        }
        .panel-heading .b-date-filter__calendar-icon{
            color: $light-bg;
        }


        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus {
            border-color: $blue;
            box-shadow: 0 1px 1px $blue inset, 0 0 8px $blue;
            outline: 0 none;
        }

        .is-focused:not(.is-open) > .Select-control {
            border-color:$blue;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(1, 255, 0, 0.1);
        }
    }
}

.disabled-widget .panel, .disabled-widget .panel .panel-heading{
    background-color: #d8d8d9!important;
    border-color: #d8d8d9!important;
}


.company-dodos {
    $dark-bg: #546f7a;
    $light-bg: #edf5f7;
    $blue: #86af3f;
    $dark-blue: #006400;
    $white: #fff;
    $error: #cc0025;
}

@include theme('company-dodos', #546f7a, #edf5f7, #86af3f, #006400, #fff, #cc0025);
