.dashboard{
    .widgets{
        &>div{
            max-height: 233px;
            min-height: 233px;
        }
    }
    &__widget {
        .big-number {
            font-size: 24px;
            text-align: right;
            &__sub {
                text-align: right;
                margin: 15px 0px;
            }
        }
        .text-right {
            padding-left: 0px;
        }
        .left-icon{
            text-align: center;
            i.fa{
                margin-bottom: 10px;
            }
        }
        .panel-heading.chart-100{
            padding: 0;
        }
        .panel-heading--light{
            background-color: $light-bg;
            color: $dark-blue;
            height: 131px;
        }
        .panel-footer{
            background-color: $blue;
            color: #fff;
            min-height: 40px;
        }
        .energy-label{
            height: 100px;
        }
        &.red{
            .left-icon{
                color:$error;
            }
        }
    }

    .gradient {
        height: 50px;
        width: 80%;
        margin: 40px auto;
        position: relative;

        &-progress {
            background: rgba(224, 52, 0, 1);
            background: -moz-linear-gradient(left, rgba(224, 52, 0, 1) 0%, rgba(238, 255, 5, 1) 47%, rgba(3, 189, 0, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224, 52, 0, 1)), color-stop(47%, rgba(238, 255, 5, 1)), color-stop(100%, rgba(3, 189, 0, 1)));
            background: -webkit-linear-gradient(left, rgba(224, 52, 0, 1) 0%, rgba(238, 255, 5, 1) 47%, rgba(3, 189, 0, 1) 100%);
            background: -o-linear-gradient(left, rgba(224, 52, 0, 1) 0%, rgba(238, 255, 5, 1) 47%, rgba(3, 189, 0, 1) 100%);
            background: -ms-linear-gradient(left, rgba(224, 52, 0, 1) 0%, rgba(238, 255, 5, 1) 47%, rgba(3, 189, 0, 1) 100%);
            background: linear-gradient(to right, rgba(224, 52, 0, 1) 0%, rgba(238, 255, 5, 1) 47%, rgba(3, 189, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e03400', endColorstr='#03bd00', GradientType=1);
            width: 100%;
            height: 100%;
        }
        &-pointer{
            position: absolute;
            top: -15px;
            left: 0px;
        }
        &-label-left{
            position: absolute;
            bottom: -20px;
            left: -20px;
        }
        &-label-right{
            position: absolute;
            bottom: -20px;
            right: -20px;
        }
    }

    a.edit-cost{
        color: #fff;
        margin-left: 5px;
    }
    .panel-heading.padding-30-px{
        padding: 30px 10px;
    }
}
.max-kwh-heading{
    height: 173px;
}
.max-kwh{
    display: flex;
    flex-direction: column;
    color: #006400;
    &-title{
        font-size: 12px;
        width: 30%;
        display: inline-block;
    }
    &-value{
        font-size: 24px;
        //width: 70%;
        display: inline-block;
        text-align: right;
    }
    &-date{
        width: 100%;
        display: block;
        text-align: right;

    }
}
