.login-container{
    position: fixed;
    width: 100%;
    height: 100%;
    .b-notification{
        margin-left: 0;
        position: absolute;
        width: 100%;
    }
}
.banner-background-image{
    background-image: url(../../public/img/banner_pic.png);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    transition: transform 8000ms linear 0s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}
#banner {
    z-index: 9;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    font-family: 'Open Sans',sans-serif!important;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    overflow: auto;
    position: relative;
    text-align: center;
    .social-btns{
        background: transparent;
    }
    &>*{
        color: #fff!important;
        background: rgba(78,154,21,.3);
        padding: 0px;
        border-radius: 5px;
        height: auto;
    }
    &>form{
        background: none;
        padding: 0px;
    }
    &>.more{
        padding: 10px;
        height: 60px!important;
    }
    ul{
        margin-bottom: 0px;
        li{
            margin-bottom: 0px;
        }
    }

    h2 {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -moz-transition: -moz-transform .5s ease,opacity .5s ease;
        -webkit-transition: -webkit-transform .5s ease,opacity .5s ease;
        -ms-transition: -ms-transform .5s ease,opacity .5s ease;
        transition: transform .5s ease,opacity .5s ease;
        display: inline-block;
        font-size: 1.75em;
        opacity: 1;
        padding: .35em 1em;
        position: relative;
        z-index: 1;
    }
    p {
        letter-spacing: .225em;
        text-transform: uppercase;
    }
    .dark-font {
        color: #546f7a;
        font-size: 33px;
        max-width: 800px;
        margin: 0 auto;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .orlogin {
        padding: 30px;
    }
    .regular-form {
        transition: bottom .6s,opacity .6s;
        position: relative;
        bottom: 0;
    }
    .more{
        color: #546f7a;
    }
    .more a {
        color: #546f7a;
        text-decoration: underline;
    }
    .more {
        -moz-transition: -moz-transform .75s ease,opacity .75s ease;
        -webkit-transition: -webkit-transform .75s ease,opacity .75s ease;
        -ms-transition: -ms-transform .75s ease,opacity .75s ease;
        transition: transform .75s ease,opacity .75s ease;
        -moz-transition-delay: 3.5s;
        -webkit-transition-delay: 3.5s;
        -ms-transition-delay: 3.5s;
        transition-delay: 3.5s;
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        border: none;
        bottom: 0;
        color: inherit;
        font-size: .8em;
        height: 8.5em;
        left: 50%;
        letter-spacing: .225em;
        margin-left: -14em;
        opacity: 1;
        outline: 0;
        padding-left: .225em;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        z-index: 1;
    }
    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
        li {
            display: inline-block;
            padding: 0 1.5em 0 1.5em;
            vertical-align: middle;
            margin-bottom: 10px;
            input[type=email], input[type=password], input[type=text], select {
                height: 2.75em;
            }
            input[type=email], input[type=password], input[type=text],select,textarea {
                -moz-appearance: none;
                -webkit-appearance: none;
                -ms-appearance: none;
                appearance: none;
                background: #fff;
                border-radius: 3px;
                border: none;
                color: #000;
                display: block;
                outline: 0;
                padding: 0 1em;
                text-decoration: none;
                width: 100%;
                box-shadow: 0 0 5px #ccc;
            }
        }
    }

    .btn-facebook {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        background-color: #2b4b90;
        background-image: -moz-linear-gradient(top,#3b5998,#133783);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#3b5998),to(#133783));
        background-image: -webkit-linear-gradient(top,#3b5998,#133783);
        background-image: -o-linear-gradient(top,#3b5998,#133783);
        background-image: linear-gradient(to bottom,#3b5998,#133783);
        background-repeat: repeat-x;
        border-color: #133783 #133783 #091b40;
        border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    }
    .btn-google-plus {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        background-color: #d34332;
        background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#dd4b39),to(#c53727));
        background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
        background-image: -o-linear-gradient(top,#dd4b39,#c53727);
        background-image: linear-gradient(to bottom,#dd4b39,#c53727);
        background-repeat: repeat-x;
        border-color: #c53727 #c53727 #85251a;
        border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    }


    .loader{
        display: none;
    }
    .button-loading{
        .loader{
            display: inline-block;
        }
    }
    .btn-social{
        width: 300px;
        margin: 10px 10px;
    }
    ul.actions li.with-input{
        width: 280px;
        padding: 0px 13px;
    }

    .top-error-message{
        color:red;
        padding: 10px 10px;
        display: inline-block;
    }
}

